.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03050F;
    color: #fff;
    width:  100%;
    height: 106px;
  }
  
  .footer__logo {
    margin: 7.5rem;
  }
  
  .footer__right {
    margin: 7.5rem;
  }
  