.App {
  text-align: center;
}
.fondo {
  position: absolute;
  bottom: -7rem ;
  width: 432px;
  height: 750px;
  display: block;
}
.fondo2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 432px;
  height: 760px;
  display: block;
}

.content-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: row-reverse;
  }
  .fondo{
    bottom: 9.5rem;
    height: 10.5rem;
    width: 9.5rem;
  }
  .fondo2{
    top: -2rem;
    height: 14.5rem;
    width: 18.5rem;
  }
}